@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%;
}

.grad{
  background-image: linear-gradient(180deg, #008080, #0ABAB5);
}

.cu-fo{
  font-family: 'Paytone One', sans-serif;
  font-size: 30px !important;
  color: white!important;
  padding-left: 1rem;
}

.mont-fo{
  font-family: 'Montserrat', sans-serif;
}

.cu-fo0{
  font-family: 'Paytone One', sans-serif;
  font-size: 3rem;
  color: #008080!important;
}

.mont-foc{
  color: white !important;
}

.bgimage{
  background-image: url('./images/Fishda.jpg');
  background-size: cover;
  min-height: 40vh;
  width: 100hw;
}

.cu-fo00{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #008080!important;
}

.cu-fo200{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #008080!important;
}

.cu-fo2010{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem!important;
  color: #008080!important;
}